.terms-of-service {
    max-width: 800px;
    margin: 100px auto 50px; /* Adjust the margin values as desired */
    padding: 20px;
    text-align: justify;
  
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    p {
      margin-bottom: 15px;
      line-height: 1.5;
    }
  
    ul {
      margin-bottom: 15px;
      list-style-type: disc;
      padding-left: 20px;
    }
  
    li {
      margin-bottom: 5px;
    }
  }
  